.basket-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clear-basket_btn {
  gap: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.basket-card {
  max-width: 821px;
  margin: 0 auto;
}
.basket-pizza-card {
  border-top: 1px solid #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.pizza-picture {
  width: 80px;
  height: 80px;
}

.card-label {
  display: flex;
  flex-direction: column;
  width: 280px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: var(--color-pizza-text);
}

.basket-counter-btn {
  display: flex;
  align-items: center;
  margin-right: 93px;
  gap: 12px;
  height: 32px;
  font-size: 22px;
  font-weight: 700;
}
.counter-btn_minus {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.counter-btn_minus:hover svg circle {
  fill: var(--color-primary);
}
.counter-btn_minus:hover svg path {
  fill: #fff;
}
.counter-btn_plus:hover svg circle {
  fill: var(--color-primary);
}
.counter-btn_plus:hover svg path {
  fill: #fff;
}

.delete-pizza-btn:hover svg circle {
  fill: black;
  stroke: black;
}
.delete-pizza-btn:hover svg path {
  fill: #fff;
}
.basket-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 821px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.basket-total-summary {
  line-height: 26.8px;
  font-size: 22px;
  font-weight: 400;
}
.summary-colored_orng {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-primary);
}
.total-colored_blkc {
  font-size: 22px;
  font-weight: 700;
}
.basket-total_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 821px;
  margin: 0 auto;
}
.pay_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 55px;
}
.cancel_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 55px;
}
.counter-btn_plus {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.delete-pizza-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cancel_btn:hover {
  transition-property: background-color;
  transition-duration: 0.2s;
  background-color: var(--color-active);
  color: #ffffff;
}
.pay_btn:hover {
  transition-property: background-color;
  transition-duration: 0.2s;
  background-color: transparent;
  color: var(--color-add-btn);
}
