@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");
@import "header.css";
@import "buttons.css";
@import "logos.css";
@import "dropdownmenu.css";
@import "pizza-menu.css";
@import "basket.css";
:root {
  --color-active: #282828;
  --color-primary: #fe5f1e;
  --color-pizza-text: rgba(0, 0, 0, 1);
  --color-add-btn: #eb5a1e;
  --color-cancel-btn: #cacaca;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
}
body {
  background-color: #ffdf8c;
  font-family: "Proxima Nova Condensed", sans-serif;
}

.separator {
  width: 1px;
  height: 20px;
  background-color: #ffffff40;
  margin: 12px 13px 13px 13px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #f6f6f6;
}

.orange_btn {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Proxima Nova Condensed", sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.gray_btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.49px;
  border-radius: 30px;
  border: 1px solid #d3d3d3;
  font-family: "Proxima Nova Condensed", sans-serif;
  color: var(--color-cancel-btn);
  background-color: transparent;
}
